.box {
  background-image: linear-gradient(
    45deg,
    rgba(225, 229, 233, 0.2),
    rgba(206, 206, 206, 0.2),
    rgba(242, 245, 246, 0.2)
  );
  backdrop-filter: blur(3px);
  box-shadow: 2px 2px 5px var(--shadow-box);
  border-top: solid 3px var(--border-box);
  border-left: solid 3px var(--border-box);
  padding: 1rem 2rem;
  position: relative;
  border-radius: 2rem;
}
