/* Importamos una fuente de google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

/* Con esto hacemos que la seleccion de texto cambie de color */
::selection {
  background-color: var(--complement);
  color: var(--back);
}

/* Con esto 1 rem equivale a 10 px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 6rem;
}

:root {
  --back: #fbfeff;
  --primary: #00b0f0;
  --second: #9147c8;
  --complement: #3b3838;
  --scroll-thumb: #cecece;
  --scroll-thumb-hover: #757272;
  --shadow: #828083;
  --opacity-background-1: 0.6;
  --opacity-background-2: 0.4;
  --border-box: white;
  --shadow-box: rgb(210, 210, 210);
}

body {
  font-family: "Roboto";
  background-color: var(--back);
  margin: 0;
  align-items: center;
  color: var(--complement);
  transition: 0.3s ease-in-out;
  line-height: 1.5;
}

.section-head {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6rem 20vw;
  overflow: hidden;
}

.section-head::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/icons/nube1.png");
  opacity: var(--opacity-background-1);
  background-size: cover;
  background-repeat: repeat-x;
  animation: moveBackground 100s linear infinite;
}

.section-head::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/icons/nube2.png");
  opacity: var(--opacity-background-2);
  background-repeat: repeat-x;
  background-size: cover;
  animation: moveBackground 400s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

.section-projects {
  display: flex;
  flex-direction: column;
  padding: 1rem 20vw;
  background: linear-gradient(45deg, var(--second), var(--primary));
}

.global-style-section {
  display: flex;
  flex-direction: column;
  padding: 0 20vw;
  margin-bottom: 2rem;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
}

h2 {
  font-size: clamp(1rem, 6vw, 2rem);
}

p {
  font-size: clamp(0.8rem, 6vw, 1.8rem);
  text-align: justify;
}

/* Cambia el ancho y color de la scrollbar */
::-webkit-scrollbar {
  width: 1rem;
  background-color: var(--back);
}

/* Cambia el color del pulgar de la scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
}

/* Puedes personalizar otros estados, como hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-hover);
}

@media (max-width: 700px) {
  .section-head {
    padding: 0 10vw;
  }

  .section-projects {
    padding: 0 10vw;
  }

  .global-style-section {
    padding: 0 10vw;
  }
}

@media (max-width: 500px) {
  .section-head {
    padding: 0 2vw;
  }

  .section-projects {
    padding: 0 2vw;
  }

  .global-style-section {
    padding: 0 2vw;
  }
}
